
.checkboxWrapper {
  display: flex;
  align-items: center;
  padding: 10px 0 14px 0;
  width: 100%;
  background-color: transparent;
  user-select: none;
  cursor: pointer;
  border-radius: 0;
}

.checkboxWrapper + .checkboxWrapper {
  margin-top: 10px;
}

.checkboxValue {
  @extend %bg;
  background-size: cover;
  width: 22px;
  height: 22px;
  background-image: url("/elements/checkbox.svg");
}

.checkboxValueChecked {
  @extend %bg;
  width: 22px;
  height: 22px;
  background-image: url("/elements/checkbox_checked.svg");
}

.checkboxLabel {
  margin-left: 8px;
  font-size: 12px;
  line-height: 18px;
  color: $color-regent;
}

.checkboxLabelChecked {
  color: $color-bean;
}

@include breakpoint-min(sm) {
  .checkboxValue {
    width: 29px;
    height: 29px;

  }

  .checkboxValueChecked {
    width: 29px;
    height: 29px;
  }

  .checkboxLabel {
    font-size: 14px;
    line-height: 20px;
  }
}

@include breakpoint-min(md) {
  .checkboxWrapper {
    width: auto;
  }

  .checkboxLabel {
    font-size: 13px;
    line-height: 24px;
  }

  .checkboxValue {
    width: 22px;
    height: 22px;
  }

  .checkboxValueChecked {
    width: 22px;
    height: 22px;
  }
}

.light {
  .checkboxValue {
    background-image: url("/elements/checkbox-day.svg");
  }

  .checkboxValueChecked {
    background-image: url("/elements/checkbox_checked-day.svg");
  }

  .checkboxLabel {
    color: $color-waikawa;
  }
}