@mixin breakpoint-min($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
      @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
        @content;
      }
    } @else {
      @warn "No value from `#{$breakpoint}`. "
          + "Please make sure it is defined in `$breakpoints` map.";
    }
  }

  @mixin breakpoint-max($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
      @media (max-width: (#{map-get($breakpoints, $breakpoint) - 1px})) {
        @content;
      }
    } @else {
      @warn "No value from `#{$breakpoint}`. "
          + "Please make sure it is defined in `$breakpoints` map.";
    }
  }

@mixin breakpoint-min-max($breakpoint1, $breakpoint2) {
  @media (min-width: (#{map-get($breakpoints, $breakpoint1)}))
  and (max-width: (#{map-get($breakpoints, $breakpoint2) - 1px})) {
    @content;
  }
}

@mixin gradientColor($gradient-color) {
  background: $gradient-color;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}